systemLog:
   destination: file
   path: "{{ log_path }}"
   logAppend: true
storage:
   journal:
      enabled: true
   dbPath: {{ db_path }}
setParameter:
   enableLocalhostAuthBypass: true
replication:
   replSetName: {{ repl_set }}
processManagement:
   fork: {{ fork_status }}
   pidFilePath: "{{ pid_path }}"
security:
   authorization: {{ db_auth }}
   keyFile: "{{ key_file }}"
