[sshd]
enabled = true
port    = ssh
{% if ansible_os_family == 'RedHat' %}
backend = %(sshd_backend)s
logpath = /var/log/secure
{% else %}
logpath = /var/log/auth.log
{% endif %}
filter   = sshd
{% if ansible_os_family == 'RedHat' %}
{% if ansible_distribution_major_version == '7' %}
action = firewallcmd-ipset
{% else %}
banaction =  %(banaction_allports)s
{% endif %}
{% endif %}
maxretry = {{ maxretry }}
ignoreip = {{ ignoreip }}
findtime = {{ findtime }}
